h1 {
  text-align: center;
  font-size: 26px;
}
:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(1,147,249);
}

.problem-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem-image img {
  width: auto;
  max-height: 300px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}