<section class="homepage">

  <h1 class='mat-h1'>Welcome to SapphireCS!</h1>

  <div class="buttonSection">
    <mat-card class="roleSelection">
      <mat-card-header>
        <mat-card-title>For Students</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class='mat-body1'>You can use this website for class or self-guided learning.
          Click the link below to get started!
        </p>
        <div class='imageWrapper'>
          <img src="../../assets/images/Students.png" class="roleIcon">
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink='/courses' mat-button>Click here to get started!</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="roleSelection">
      <mat-card-header>
        <mat-card-title>For Teachers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>You can use this website to create full classes or supplementary materials. 
          Click the link below to get started!
        </p>
        <div class='imageWrapper'>
          <img src="../../assets/images/Teachers.png" class="roleIcon">
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink='/auth/signup' mat-button>Click here to sign up!</a>
      </mat-card-actions>
    </mat-card>
  </div>
</section>